footer.container {
  border-bottom: 0;
  padding: 1rem 1.25rem 1.25rem 4rem;
}

footer nav menu {
  list-style: none;
}

footer nav a {
  display: block;
  text-decoration: none;
  padding: 8px 10px;
  padding-left: 0;
}

form label {
  display: block;
}

form input {
  box-shadow: var(--sombra);
  border: var(--borda);
  padding: 0.5rem;
  width: 100%;
}

/* responsivo 
/*desktop*/

@media (min-width: 74rem) {
  footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-info{
    flex: 2;
  }

  .footer-info p{
    max-width: 28ch;
  }

  footer nav{
    flex: 1;
  }

  form{
    flex: 3;
  }
}
