:root {
  /*cores
  /*cores de base*/
  --cor-0: #ffffff;
  --cor-10: #404040;
  --cor-11: #151515;
  --cor-12: #000000;
  /* cores de enfase*/
  --cor-p1: #fff2e5;
  --cor-p2: #ffe7d1;
  --cor-p3: #ff9a3c;
  --cor-p4: #ed4d1b;
  /* Tipografias */
  --titulo-grande-desk: 400 4rem/5rem "Pacifico", serif;
  --titulo-grande-mobile: 400 2rem/2.5rem "Pacifico", serif;
  --titulo-pequeno: 400 1.5rem/2rem "Pacifico", serif;
  --texto-grande: 500 1.5rem/1.75rem "Roboto", sans-serif;
  --texto-funcional: 700 1.25rem/2rem "Roboto", sans-serif;
  --texto-medio: 500 1.25rem/1.5rem "Roboto", sans-serif;
  --texto-pequeno: 500 1rem/1.25rem "Roboto", sans-serif;
  /* efeitos */
  --sombra: 4px 4px 0px var(--cor-11);
  --borda: 2px solid var(--cor-12);
}

/* Cores de Texto */

.cor-0 {
  color: var(--cor-0);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
.cor-p4 {
  color: var(--cor-p4);
}

/* Tipografia*/

.titulo-grande {
  font: var(--titulo-grande-mobile);
}

.titulo-pequeno {
  font: var(--titulo-pequeno);
}

.texto-primario {
  font: var(--texto-medio);
  max-width: 24ch;
}

.texto-funcional {
  text-transform: uppercase;
  font: var(--texto-funcional);
}

.texto-secundario {
  font: var(--texto-pequeno);
}

.text-center {
  text-align: center;
}

/* espaçamentos*/

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Responsivo */

@media (min-width: 35rem) {
  .titulo-grande {
    font: var(--titulo-grande-desk);
  }

  .texto-primario {
    font: var(--texto-grande);
    max-width: fit-content;
  }

  footer .texto-secundario {
    font: var(--texto-medio);
  }
}
